email.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Email">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="to" type="xs:string"/>
				<xs:element name="from" type="xs:string" />
				<xs:element name="cc" type="xs:string"/>
				<xs:element name="bcc" type="xs:string" />
				<xs:element name="subject" type="xs:string" />
				<xs:element name="Body" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>